body {
    margin: 0px;
    padding: 0;
    font-family: "Corbel", sans-serif;
    font-weight: bold;
    background: black;
    overflow: hidden;
    box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
}

/* Style for the background video */
.video-background iframe {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
}

.logo {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px
}

.nav-toggle {
    position: absolute;
    top: 55px;
    left: 80px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.nav-menu {
    position: absolute;
    top: 95px;
    left: 85px;
    display: none;
    flex-direction: column;
    background: none;
    background-color: transparent;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 10px 0;
    background: none;
    background-color: transparent;
}

.nav-menu.open {
    display: flex;
}

@media (min-width: 768px) {
  .menu:hover + .nav-menu {
    display: flex; /* Show the menu when the hamburger icon is hovered */
    flex-direction: column;
  }
}

@media (max-width: 768px) {
    .video-background iframe {
        object-fit: cover;
        width: 270vw;
        height: 125vh;
    }
    .nav-toggle {
        top: 45px;
        left: 20px;
        font-size: 35px;
    }
    .nav-menu {
        top: 80px;
        left: 25px;
        font-size: 35px;
    }
    .nav-menu.open {
    display: flex; /* Display menu when toggled */
  }
}

/* Prevent horizontal scrolling */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
